<div id="waitingContainer" style="display: none;">
    <div id="waitingContent">
        <div class="waitingSpinner"></div>
        <div id="waitingTextContainer">
            <h2>Veuillez patienter..</h2>       //TODO (login)
        </div>
    </div>
</div>