<div id="welcomeContainer" style="display: none;">
    <!--<div class="cloudDiv">
        <div class="cloudTop"></div>
        <div class="cloudBottom"></div>
    </div>-->
    <div id="welcomeContent">
        <img id="welcomMedeviaLogo" src="assets/images/MedeviaLogo.png"/>
        <span id="welcomeHeader">Bienvenu sur le launcher de Médévia !</span>
        <span id="welcomeDescription">Bonjour, Jeune Médévien, la communauté des Gardiens de la galaxie de Médévia, est heureux de vous proposer le tout nouveau site web du serveur.        </span>
        <br>
        <span id="welcomeDescCTA">Votre vaisseau est près de Médévia </span>
        <button id="welcomeButton">
            <div id="welcomeButtonContent">
                CONTINUE
                <svg id="welcomeSVG" viewBox="0 0 24.87 13.97">
                    <defs>
                        <style>.arrowLine{fill:none;stroke:#FFF;stroke-width:2px;transition: 0.25s ease;}</style>
                    </defs>
                    <polyline class="arrowLine" points="0.71 13.26 12.56 1.41 24.16 13.02"/>
                </svg>
            </div>
        </button>
    </div>
    <script src="./assets/js/scripts/welcome.js"></script>
</div>